.Falk.Layout {
	&.center {
		display table
		margin 0 auto
	}

	&.right {
		float right
	}

	&.paper {
		display table
		box-shadow 0 3px 10px rgba(0, 0, 0, .16), 0 2px 12px rgba(0, 0, 0, .23)
	}

	&.inline {
		display inline-table
	}
}
