body
	margin 0
	padding 0

.App
	padding-top 60px

.title
	position fixed
	top 0
	right 0
	left 0
	margin 5px
	border-bottom 1px solid #3366CC
	background-color white
	box-shadow rgba(0, 0, 0, .12) 0 1px 8px, rgba(0, 0, 0, .12) 0 1px 4px

	h1
		display inline-block
		margin 10px
		height 40px
		color #3366CC
		font-weight bold
		font-size 40px
		font-family Lato, sans-serif
		line-height 40px

	p
		position fixed
		right 0
		display inline-block
		margin 10px
		height 40px
		color #3366CC
		font-size 20px
		font-family Lato, sans-serif
		line-height 40px
