@import url('https://fonts.googleapis.com/css?family=Lato|Anton')

// Falk Styling
general = true
helper = true
flow = true
// Colors
themePrimary = #2050cc
headerFontColor = white
bodyFontColor = lightgrey
headingFontColor = lightgrey
// Background
flowBackgroundColor = #ff4455
headerBackground = rgba(black, .7)
bodyBackground = darken(#263039, 90%)
// Nav
navDevider = '|'
navSpacing = 30px
headerSpacing = 30px
// Fonts
bodyFont = 'Lato', sans-serif
bodyFontSize = 25px
bodyFontWeight = normal
headingFont = 'Anton', sans-serif
// Padding
sectionPadding = 40px
// Size
headerHeight = 80px
// Shadows
headerShadow = 0 3px 10px rgba(0, 0, 0, .16), 0 2px 12px rgba(0, 0, 0, .23)

// #263039
i.gmar-Joker {
	font-size 80px
	transform rotate(-20deg)

	&#background:before {
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		z-index 5
		color lightgrey
		text-align center
		text-shadow 0 3px 10px rgba(0, 0, 0, .16)
		font-size 100vh
		opacity .05
		transform rotate(10deg)
	}
}

i.fa {
	margin 0 10px
}
